 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
 
<p> This page contains course material for Garrett M. Dancik, Associate Professor of Computer Science/Bioinformatics at Eastern Connecticut State University. For more information about me, see my <a href = "http://www1.easternct.edu/dancikg/">faculty</a> and <a href = "http://bioinformatics.easternct.edu">research</a> pages.
</p>
            </div>
        </div>
    </section>
